<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer id="footer">
  <div class="company-details">
    <div class="title">
      <h2>Contact Us</h2>
    </div>
    <div class="row">
      <div id="col1">
        <span id="icon" class="fa fa-map-marker"></span>
        <h5>Location</h5>
        <span id="pra">
          710-B, Advant Navis Business Park,
          <br/>
          Sector-142, Chennai
        </span>
      </div>

      <div id="col2">
        <span id="icon" class="fa fa-phone"></span>
        <h5>Phone</h5>
        <span id="pra">
          Telephone: +91-8903498527
        </span>
      </div>

      <div id="col3">
        <span id="icon" class="fa fa-envelope"></span>
        <h5>Mail</h5>
        <span id="pra">xyz@mprsuniversity.org</span>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>© All rights reserved | MPRS University</p>

    <ul class="contact">
      <li>
        <a href="#" class="fa fa-twitter">

        </a>
      </li>

      <li>
        <a href="#" class="fa fa-facebook">

        </a>
      </li>

      <li>
        <a href="#" class="fa fa-pinterest-p">

        </a>
      </li>
    </ul>
  </div>
</footer>
