*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  color: #fff;
}

.error{
  color: red;
}

body{
  background-image: url(images/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  animation: change 10s infinite ease-in-out;


}

.content{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 30%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
  overflow: hidden;
  background: rgb(57, 196, 196);

}

@keyframes content{
  0%{ margin-left: -300px;}
}

section{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}

.form-container{
  position: absolute;
  color: #fff;
  top: 63%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}

.form-container h1{
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.control input{
  width:100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  outline: none;
  margin: 1em 0;
}

.control input[type="submit"]{
  background: crimson;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: .8;
  transition: opacity .3s ease;
}

.control input[type="submit"]:hover{
  opacity: 1;
}

.error-p{
     text-align: center;
     font-size: large;
     color: crimson;
     font-weight: bold;
}

.link{
  text-align: center;
}

.link a{
  text-decoration: none;
  color: #fff;
  opacity: .7;
  transition: opacity .3s ease;
}

.link a:hover{
  opacity:1;
}
@keyframes change{
  0%
  {
      background-image: url(images/bg7.jpg);
  }
  20%
  {
      background-image: url(images/bg6.jpg);
  }
  40%
  {
      background-image: url(images/bg8.jpg);
  }
  60%
  {
      background-image: url(images/bg9.jpg);
  }
  80%
  {
      background-image: url(images/bg10.jpg);
  }
  100%
  {
      background-image: url(images/bg11.jpg);
  }
}


@media only screen and (max-width:800px)
{
  .form-container{
      position: absolute;
      color: #fff;
      top: 500px;
      left: 250px;
      transform: translate(-50%,-50%);
      background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
      width: 380px;
      padding: 50px 30px;
      border-radius: 10px;
      box-shadow: 7px 7px 60px #000;
  }

}
