<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" >

</head>
<body>
    <div class="container">
      <!-- Navigation Menu -->
        <nav>
            <ul>
                <li><a routerLink="/profile" class="logo">
                    <img src="images/logo.jpeg" alt="">
                    <span class="nav-item">DashBoard</span>
                </a></li>
                 <!-- Other navigation links -->
                <li><a routerLink="/profile" class="png">
                    <i class="material-symbols-sharp">person</i>
                    <span class="nav-item">Profile</span>
                </a></li>
                <li><a routerLink="/schedule" class="png">
                    <i class="material-symbols-sharp">calendar_month</i>
                    <span class="nav-item">Exam Schedule</span>
                </a></li>
                <li><a routerLink="/assesment" class="png">
                    <i class="material-symbols-sharp">assignment</i>
                    <span class="nav-item">Assesment</span>
                </a></li>
                <li><a routerLink="/results" class="png">
                    <i class="material-symbols-sharp">grade</i>
                    <span class="nav-item">Exam Results</span>
                </a></li>
                <li><a routerLink="/logout" class="logout">
                    <i class="material-symbols-sharp">logout</i>
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </nav>
        </div>
        <div class="box">
           <!-- Display section title -->
          <h3>Student Profile</h3><br><br>
          <table *ngIf="studentProfile">
            <tbody id="tbody">
              <!-- Display student profile details -->
            <tr>
              <td>Register Number</td>
              <td>{{ studentProfile.registernumber }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ studentProfile.name}}</td>
            </tr>
            <tr>
              <td>Institution</td>
              <td>{{ studentProfile.institution }}</td>
            </tr>
            <tr>
              <td>Branch</td>
              <td>{{ studentProfile.branch }}</td>
            </tr>
            </tbody>
          </table>

          <!-- Display message when no student profile found -->
          <div *ngIf="!studentProfile">
            <p>No student profile found.</p>
          </div>
      </div>


</body>
</html>
